<html>

<title>"My Car Trust"</title>

<!--><body>
Hello minifi
<img src="https://wiki.illinois.edu/wiki/download/attachments/689152889/image2019-2-10_23-8-23.png?version=1&modificationDate=1549861703000&api=v2" alt="Car Trust plan">
</-->
<body ng-class="{touch: $root.touchDevice, ie: $root.ie, home: $root.pageClass === 'home'}" class="home">


<!-- MAIN CONTENT AND INJECTED VIEWS -->
<!-- ngView:  --><div id="main_container" ng-view="" ng-class="{ready: mainReady}" class="ng-scope ready">



<img src="https://wiki.illinois.edu/wiki/download/attachments/689152889/image2019-2-10_23-8-23.png?version=1&modificationDate=1549861703000&api=v2" alt="Car Trust plan">



<!--************** vids **************  ng-swipe-up="nextSlide()" ng-swipe-down="prevSlide()"   -->
<div id="blocks" ng-class="{ready: $root.loaded}" ng-swipe-right="canIscroll('up')" ng-swipe-left="canIscroll('down')" class="ng-scope ready">






    <ul id="tiles" class="">

        <li id="hp" ng-class="{
            prev: activeSection === 1,
            active: activeSection === 0,
            next: backToHp &amp;&amp; activeSection !== 0}" class="active">

            <div id="hp_canvas"><canvas width="1365" height="947" style="width: 1365px; height: 947px;"></canvas></div>

            <h1 id="title" ng-class="{ready: $root.loaded}" ng-click="$root.touchDevice ? canIscroll('down') : return" class="ready">
                <span><span>Pixels by</span></span>
                <span><span>Tomer Lerner</span></span>

                <i id="title_arrow" ng-click="canIscroll('down')" ng-hide="$root.touchDevice" class="">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="45px" viewBox="0 0 35 45">
                        <path class="faded" style="fill:none;stroke:#fff;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" d="M17.5,38.357L17.5,38.357	c-4.95,0-10.078-4.05-10.078-9V15.751c0-4.95,4.05-9,9-9h2.156c4.95,0,9,4.05,9,9v13.606C27.578,34.307,22.45,38.357,17.5,38.357z"></path>
                        <path ng-class="{roll: activeSection === 0}" style="fill:none;stroke:#fff;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" d="M17.5,38.357L17.5,38.357	c-4.95,0-10.078-4.05-10.078-9V15.751c0-4.95,4.05-9,9-9h2.156c4.95,0,9,4.05,9,9v13.606C27.578,34.307,22.45,38.357,17.5,38.357z" class="roll"></path>
                        <path class="tip" style="fill:none;stroke:#fff;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" d="M17.5,11.5v9.375"></path>
                    </svg>
                </i>
            </h1>

        </li>


        <!-- ngRepeat: tile in ::tiles --><li ng-repeat="tile in ::tiles" class="tile wikiwand next" ng-class="{
            active: tile.index === activeSection,
            prev: activeSection-1 === tile.index || backToLast,
            next: activeSection+1 === tile.index,
            }">

            <div class="tile_bg" tilemove=""></div>
            <i></i>

            <div class="hp_mask"></div>

            <section class="hp_section">

                <ul class="awards">
                    <!-- ngRepeat: (key, value) in ::tile.awards --><li ng-repeat="(key, value) in ::tile.awards" class="icon-webby" ng-class="{fade: $root.caseHover}"></li><!-- end ngRepeat: (key, value) in ::tile.awards --><li ng-repeat="(key, value) in ::tile.awards" class="icon-awwwards" ng-class="{fade: $root.caseHover}"></li><!-- end ngRepeat: (key, value) in ::tile.awards --><li ng-repeat="(key, value) in ::tile.awards" class="icon-fwa" ng-class="{fade: $root.caseHover}"></li><!-- end ngRepeat: (key, value) in ::tile.awards -->
                </ul>

                <h2 hptitle="" class="ng-binding"><span>W</span><span>i</span><span>k</span><span>i</span><span>w</span><span>a</span><span>n</span><span>d</span></h2>
            </section>

            <a class="view_case" href="work/wikiwand" ng-mouseenter="$root.touchDevice ? return : $root.caseHover = true" ng-mouseleave="$root.touchDevice ? return : $root.caseHover = false">
                <span>View Case</span>
            </a>

        </li><!-- end ngRepeat: tile in ::tiles --><li ng-repeat="tile in ::tiles" class="tile webydo" ng-class="{
            active: tile.index === activeSection,
            prev: activeSection-1 === tile.index || backToLast,
            next: activeSection+1 === tile.index,
            }">

            <div class="tile_bg" tilemove=""></div>
            <i></i>

            <div class="hp_mask"></div>

            <section class="hp_section">

                <ul class="awards">
                    <!-- ngRepeat: (key, value) in ::tile.awards -->
                </ul>

                <h2 hptitle="" class="ng-binding"><span>W</span><span>e</span><span>b</span><span>y</span><span>d</span><span>o</span></h2>
            </section>

            <a class="view_case" href="work/webydo" ng-mouseenter="$root.touchDevice ? return : $root.caseHover = true" ng-mouseleave="$root.touchDevice ? return : $root.caseHover = false">
                <span>View Case</span>
            </a>

        </li><!-- end ngRepeat: tile in ::tiles --><li ng-repeat="tile in ::tiles" class="tile bird" ng-class="{
            active: tile.index === activeSection,
            prev: activeSection-1 === tile.index || backToLast,
            next: activeSection+1 === tile.index,
            }">

            <div class="tile_bg" tilemove=""></div>
            <i></i>

            <div class="hp_mask"></div>

            <section class="hp_section">

                <ul class="awards">
                    <!-- ngRepeat: (key, value) in ::tile.awards --><li ng-repeat="(key, value) in ::tile.awards" class="icon-cssda" ng-class="{fade: $root.caseHover}"></li><!-- end ngRepeat: (key, value) in ::tile.awards --><li ng-repeat="(key, value) in ::tile.awards" class="icon-awwwards" ng-class="{fade: $root.caseHover}"></li><!-- end ngRepeat: (key, value) in ::tile.awards -->
                </ul>

                <h2 hptitle="" class="ng-binding"><span>B</span><span>i</span><span>r</span><span>d</span></h2>
            </section>

            <a class="view_case" href="work/bird" ng-mouseenter="$root.touchDevice ? return : $root.caseHover = true" ng-mouseleave="$root.touchDevice ? return : $root.caseHover = false">
                <span>View Case</span>
            </a>

        </li><!-- end ngRepeat: tile in ::tiles --><li ng-repeat="tile in ::tiles" class="tile shibui" ng-class="{
            active: tile.index === activeSection,
            prev: activeSection-1 === tile.index || backToLast,
            next: activeSection+1 === tile.index,
            }">

            <div class="tile_bg" tilemove=""></div>
            <i></i>

            <div class="hp_mask"></div>

            <section class="hp_section">

                <ul class="awards">
                    <!-- ngRepeat: (key, value) in ::tile.awards --><li ng-repeat="(key, value) in ::tile.awards" class="icon-awwwards" ng-class="{fade: $root.caseHover}"></li><!-- end ngRepeat: (key, value) in ::tile.awards -->
                </ul>

                <h2 hptitle="" class="ng-binding"><span>S</span><span>h</span><span>i</span><span>b</span><span>u</span><span>i</span></h2>
            </section>

            <a class="view_case" href="work/shibui" ng-mouseenter="$root.touchDevice ? return : $root.caseHover = true" ng-mouseleave="$root.touchDevice ? return : $root.caseHover = false">
                <span>View Case</span>
            </a>

        </li><!-- end ngRepeat: tile in ::tiles --><li ng-repeat="tile in ::tiles" class="tile zest" ng-class="{
            active: tile.index === activeSection,
            prev: activeSection-1 === tile.index || backToLast,
            next: activeSection+1 === tile.index,
            }">

            <div class="tile_bg" tilemove=""></div>
            <i></i>

            <div class="hp_mask"></div>

            <section class="hp_section">

                <ul class="awards">
                    <!-- ngRepeat: (key, value) in ::tile.awards -->
                </ul>

                <h2 hptitle="" class="ng-binding"><span>Z</span><span>e</span><span>s</span><span>t</span></h2>
            </section>

            <a class="view_case" href="work/zest" ng-mouseenter="$root.touchDevice ? return : $root.caseHover = true" ng-mouseleave="$root.touchDevice ? return : $root.caseHover = false">
                <span>View Case</span>
            </a>

        </li><!-- end ngRepeat: tile in ::tiles --><li ng-repeat="tile in ::tiles" class="tile numo" ng-class="{
            active: tile.index === activeSection,
            prev: activeSection-1 === tile.index || backToLast,
            next: activeSection+1 === tile.index,
            }">

            <div class="tile_bg" tilemove=""></div>
            <i></i>

            <div class="hp_mask"></div>

            <section class="hp_section">

                <ul class="awards">
                    <!-- ngRepeat: (key, value) in ::tile.awards -->
                </ul>

                <h2 hptitle="" class="ng-binding"><span>N</span><span>u</span><span>m</span><span>o</span></h2>
            </section>

            <a class="view_case" href="work/numo" ng-mouseenter="$root.touchDevice ? return : $root.caseHover = true" ng-mouseleave="$root.touchDevice ? return : $root.caseHover = false">
                <span>View Case</span>
            </a>

        </li><!-- end ngRepeat: tile in ::tiles --><li ng-repeat="tile in ::tiles" class="tile humavox" ng-class="{
            active: tile.index === activeSection,
            prev: activeSection-1 === tile.index || backToLast,
            next: activeSection+1 === tile.index,
            }">

            <div class="tile_bg" tilemove=""></div>
            <i></i>

            <div class="hp_mask"></div>

            <section class="hp_section">

                <ul class="awards">
                    <!-- ngRepeat: (key, value) in ::tile.awards --><li ng-repeat="(key, value) in ::tile.awards" class="icon-cssda" ng-class="{fade: $root.caseHover}"></li><!-- end ngRepeat: (key, value) in ::tile.awards -->
                </ul>

                <h2 hptitle="" class="ng-binding"><span>H</span><span>u</span><span>m</span><span>a</span><span>v</span><span>o</span><span>x</span></h2>
            </section>

            <a class="view_case" href="work/humavox" ng-mouseenter="$root.touchDevice ? return : $root.caseHover = true" ng-mouseleave="$root.touchDevice ? return : $root.caseHover = false">
                <span>View Case</span>
            </a>

        </li><!-- end ngRepeat: tile in ::tiles -->


    </ul>









    <!--************** arrows **************-->
    <ul id="hp_nav" ng-class="{ready: $root.loaded, fade: $root.caseHover}" class="ready">
        <li class="arrow prev" ng-click="canIscroll('up')">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40">
                <path style="fill:none;stroke:#fff;stroke-miterlimit:10;" d="M20,1C9.507,1,1,9.507,1,20s8.507,19,19,19s19-8.507,19-19	S30.493,1,20,1z"></path>
            </svg>
        </li>

        <li class="arrow next" ng-click="canIscroll('down')">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40">
                <path style="fill:none;stroke:#fff;stroke-miterlimit:10;" d="M20,1C9.507,1,1,9.507,1,20s8.507,19,19,19s19-8.507,19-19	S30.493,1,20,1z"></path>
            </svg>
        </li>
    </ul>




</div>



<!-- ngIf: !$root.touchDevice --><div id="hp_svg" ng-if="!$root.touchDevice" ng-class="{active: $root.caseHover}" class="ng-scope">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div><!-- end ngIf: !$root.touchDevice -->






</div>
<!-- ngIf: loadingPage -->
<svg pointer-events="none" id="main_loader" class="_color ng-hide" ng-show="loadingPage" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
    <path class="main_loader_1" d="M2,16.8V38H38V24.9H23V13M38,23V2H2V15.1H17V26.8" style="fill:none;stroke-miterlimit: 10;stroke-width: 4px"></path>
    <!-- ngIf: !$root.ie --><path ng-if="!$root.ie" class="main_loader_2 ng-scope" d="M23,13V24.9H38V38H2V16.8M17,26.8V15.1H2V2H38V23" style="fill:none;stroke-miterlimit: 10;stroke-width: 4px"></path><!-- end ngIf: !$root.ie -->
</svg>


<!-- logo -->
<a id="logo" href="/">
    <svg width="60px" height="30px">
        <g class="color">
            <path style="fill:none;stroke:lightblue;stroke-width:4;stroke-miterlimit:10;" d="M26.25,23.688V8.312H9 M33.75,6.312v15.375H51"></path>
        </g>
        <g class="white">
            <path style="fill:none;stroke:#fff;stroke-width:4;stroke-miterlimit:10;" d="M9,8.312h17.25v15.375 M51,21.688H33.75V6.312"></path>
        </g>
    </svg>
</a>


<!-- menu -->
<nav id="menu_btn" ng-show="!showCover" ng-click="$root.menuIn = !$root.menuIn" ng-class="{active: $root.menuIn, fade: $root.caseHover, home: $root.pageClass === 'home' || $root.pageClass === 'contact'}" class="home">
    <span></span>
    <i class="t"></i>
    <i class="m"></i>
    <i class="b"></i>
</nav>

<nav id="menu" ng-show="$root.menuIn" ng-class="{in: $root.menuIn}" ng-controller="MenuController" class="ng-scope ng-hide">

    <div id="menu_canvas_wrapper">
        <div id="menu_canvas" ng-click="$root.menuIn = false"><canvas width="960" height="947" style="width: 960px; height: 947px;"></canvas></div>
        <ul id="menu_share">
            <li>
                <a sharethis="" data-attr="twitter" href="#" target="_blank" class="icon-twitt"></a>
            </li>
            <li>
                <a sharethis="" data-attr="facebook" href="#" target="_blank" class="icon-face"></a>
            </li>
            <!--<li>
                <a href="#" class="icon-gplus"></a>
            </li>-->
            <li>
                <a sharethis="" data-attr="pinterest" href="#" target="_blank" class="icon-pin"></a>
            </li>
            <!--<li>
                <a href="#" class="icon-linked"></a>
            </li>-->
        </ul>
    </div>

    <div id="menu_list">
        <a href="work" ng-class="{active: $root.pageClass === 'work'}" class="">
            <span>Work</span>
        </a>
        <a href="about" ng-class="{active: $root.pageClass === 'about'}" class="">
            <span>About</span>
        </a>
        <a href="contact" ng-class="{active: $root.pageClass === 'contact'}" class="">
            <span>Contact</span>
        </a>
    </div>

</nav>


<!--  load mask -->
<!-- ngIf: showCover && $root.pageClass === 'home' -->
<!-- ngIf: showCover && $root.pageClass === 'home' -->
<!-- ngIf: showCover && $root.pageClass === 'home' -->
<!-- ngIf: showCover && $root.pageClass === 'home' -->
<!-- ngIf: showCover && $root.pageClass === 'home' -->


<!-- angular
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-touch.min.js"></script>
<script src="js/wheel-indicator.min.js"></script>
<script src="js/app.js"></script>-->

<!-- angular Controllers
<script src="js/fastclick.js"></script>
<script src="js/ReqAnim.js"></script>
<script src="js/ShellController.js"></script>
<script src="js/MenuController.js"></script>
<script src="js/HomeController.js"></script>
<script src="js/WorkController.js"></script>
<script src="js/AboutController.js"></script>
<script src="js/ContactController.js"></script>
<script src="js/CaseController.js"></script>
<script src="js/three.min.js"></script>
<script src="js/Projector.js"></script>
<script src="js/CanvasRenderer.js"></script>-->


<script src="js/min.min.js?ver=11"></script>





</body>
  
</html>
